<html>
    <head>
        <style>
            .Loading{
                height: 100%;
                width: 100%;
                
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            span{
                font-size: 150px;
            }
        </style>
    </head>
    <div class="Loading">
        <span id="Timeout">3</span>
    </div>
    
    <script>
        let countdown = document.getElementById("Timeout");
        setTimeout(function(){
            countdown.innerHTML =2 ;

            setTimeout(function(){
                countdown.innerHTML = 1;

                setTimeout(function(){
                    window.location.href = "/getWord";
                }, 1000);
            }, 1000);
        }, 1000);
    </script>
</html>