<html>
    <head>
        <style>
            .Main{
                height: 100%;
                width: 100%;
                
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            input{
                height: 100px;
                width: 500px;

                font-size: 60px;
            }
        </style>
    </head>
    <div class="Main">
        <input type="button" value="시작" onClick="location.href='/loading'">
    </div>
</html>